*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    font-size: -webkit-calc(1em * .625);
    font-size: calc(1em * .625);
    line-height: initial !important;
}

body {
    background: #ffffff;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: $res-320-wmin;
    line-height: initial !important;
    font-family: Arial, sans-serif;
    @include font-size(16);

    a {
        color: #000;
        text-decoration: none;

        &:hover {
            color: #000;
        }
    }
}


/* cf */
.cf {
    @include clearfix();
}

/* Hidden */
.hidden {
    display: none !important;
}

/* Cursor */
.cursor-pointer {
    cursor: pointer;
}
