// 1600px+
$res-1600-wmin: 1600px;

// 1220px+
$res-1220-wmax: 1599px;
$res-1220-wmin: 1220px;

// 960px-1219px
$res-960-wmax: 1219px;
$res-960-wmin: 960px;

// 768px-959px
$res-768-wmax: 959px;
$res-768-wmin: 768px;

// 600px-767px
$res-600-wmax: 767px;
$res-600-wmin: 600px;

// 480px-599px
$res-480-wmax: 599px;
$res-480-wmin: 480px;

// 320px-479px
$res-320-wmax: 479px;
$res-320-wmin: 320px;
